<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="onrobot_2fg7">
    <xacro:arg name="prefix" default=""/>
    <xacro:arg name="port" default="502" />
    <xacro:arg name="address" default="" />
    <xacro:arg name="force" default="" />
    <xacro:arg name="position_filtering" default="" />
    <xacro:arg name="velocity_filtering" default="" />
    <xacro:arg name="use_mock_hardware" default="false"/>

    <xacro:include filename="$(find onrobot_2fg7_description)/urdf/onrobot_2fg7.xacro"/>
    <xacro:include filename="$(find onrobot_2fg7_description)/ros2_control/onrobot_2fg7.ros2_control.xacro"/>

    <link name="world"></link>

    <xacro:onrobot_2fg7 prefix="$(arg prefix)" parent="world">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:onrobot_2fg7>

    <!-- Attach right fingertip -->
    <xacro:onrobot_2fg7_fingertip prefix="right_" parent="$(arg prefix)right_attachment">
        <origin xyz="0 0 0" rpy="0 0 3.14159265359"/>
    </xacro:onrobot_2fg7_fingertip>

    <!-- Attach left fingertip -->
    <xacro:onrobot_2fg7_fingertip prefix="left_" parent="$(arg prefix)left_attachment">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:onrobot_2fg7_fingertip>

    <!-- ros2_control description -->
    <xacro:onrobot_2fg7_ros2_control
    name="onrobot_2fg7"
    prefix="$(arg prefix)"
    port="$(arg port)"
    address="$(arg address)"
    force="$(arg force)"
    position_filtering="$(arg position_filtering)"
    velocity_filtering="$(arg velocity_filtering)"
    use_mock_hardware="$(arg use_mock_hardware)" />

</robot>